@use '../colors.scss';

/*****************************************************************************/
/*                               CVSS Table                                  */
/*****************************************************************************/

.cvss-table tr > td:first-child {
    padding-right: 3em;
}

.cvss-table tr > td:nth-child(2) {
    text-transform: lowercase;
}

.cvss-table tr:nth-child(n + 4) {
    cursor: pointer;
}

.cvss-table tr:nth-child(n + 4):hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.1s
   
}

.cvss-table tr > td:nth-child(2)::first-letter {
    text-transform: capitalize;
}

.cvss-table tr:nth-child(2),
.cvss-table tr:nth-child(3) {
    font-weight: 700;
    color: gray;
}

.cvss-table tr:nth-child(n + 4) {
    font-weight: 450;
    color: gray;
}

.cvss-table tr:first-child > td:nth-child(1) {
    font-size: 1.5em;
    font-weight: 600;
    vertical-align: bottom;
    font-family: lato;
    color: #444;
}

.cvss-table tr:first-child > td:nth-child(2) {
    font-size: 2.5em;
    font-weight: 900;
    font-family: lato;
    color: colors.$accent-dark;
}

.cvss-field-value-high {
    color: colors.$cvss-field-value-high;
}

.cvss-field-value-medium {
    color: colors.$cvss-field-value-medium;
}

.cvss-field-value-low {
    color: colors.$cvss-field-value-low;
}

.cvss-field-value {
    font-weight: 900;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    color: #bdbdbd;
}

.cvss-field-value > div + div {
    border-left: 1px solid #bdbdbd;
    padding-left: 10px;
}
